<div>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
  
      <div *ngFor="let question of questions" class="form-row">
        <app-question [question]="question" [form]="form"></app-question>
      </div>
  
      <div class="form-row">
        <!-- <button type="submit" [disabled]="!form.valid">Save</button> -->
        <ion-button color="success" type="submit" [disabled]="!form.valid" >Save</ion-button>
      </div>
    </form>
  
    <div *ngIf="payLoad" class="form-row">
      <strong>Survey Submitted</strong><br>
      <!-- {{payLoad}} -->
    </div>
  </div>
  