<!-- <h4 text-center margin-top>Insert your credentials</h4>

  <ion-item>
    <ion-label stacked>Username</ion-label>
    <ion-input [(ngModel)]="username"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>Password</ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>

  <div text-center margin-top>
    <button ion-button margin-right (click)="signUp()">
      SIGN UP
    </button> 

 <button ion-button color="secondary" (click)="signIn()">
      SIGN IN
    </button> 
    <button ion-button color="secondary" (click)="signIn()">
        SIGN IN
      </button>
  </div> -->

  <ion-grid>
      <ion-row justify-content-center align-items-center>
        <ion-item>
          
        </ion-item>
      </ion-row>
      <ion-row   justify-content-center align-items-center>
          <ion-item>
            
          </ion-item>
        </ion-row>
        <ion-row  justify-content-center align-items-center>
            <ion-item>
              
            </ion-item>
          </ion-row>
      <ion-row justify-content-center align-items-center >
  
       
            <ion-col col-9>
                <ion-item>
                    <ion-grid>
                      <ion-row justify-content-center align-items-center>
                          <ion-item>
                      <h4 text-center margin-top>Enter your credentials</h4>
                    </ion-item>
                  </ion-row>
                    <ion-row justify-content-center align-items-center>
                      <ion-item>
                        <ion-label class="my-label"  stacked>Username &nbsp;&nbsp;&nbsp;</ion-label>
                        <ion-input [(ngModel)]="username"></ion-input>
                      </ion-item>
                    </ion-row>
                      <ion-row justify-content-center align-items-center>
                      <ion-item>
                        <ion-label class="my-label" stacked>Password &nbsp;&nbsp;&nbsp;</ion-label>
                        <ion-input type="password" [(ngModel)]="password"></ion-input>
                      </ion-item>
                    </ion-row>
                    <ion-row justify-content-center align-items-center>
                        <ion-item>
                            <ion-button color="primary" (click)="signIn()">Login</ion-button>
                            <ion-button color="secondary" (click)="reset()">Reset</ion-button>
                        </ion-item>
                      </ion-row>
                  </ion-grid>
                  </ion-item>
            </ion-col>
      </ion-row>
      <ion-row justify-content-center align-items-center>
          <ion-item>
              <ion-img src="../assets/img/withHeart.jpg"></ion-img>
          </ion-item>
        </ion-row>
      <ion-row justify-content-center align-items-center>
        <ion-item>
          
        </ion-item>
      </ion-row>
    </ion-grid>
  
    