<ion-header>
    <ion-toolbar>
        <ion-title>
            Trial news
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen padding scroll-y="false">
    <ion-slides>

        <ion-slide>

            <ion-grid>
                <ion-row style="padding:10px">
                    <ion-col size="12">
                        <ion-textarea style="border:ridge !important" wrap="soft" placeholder="Write a trail news...">
                        </ion-textarea>
                    </ion-col>

                </ion-row>
                <ion-row style="padding:10px" color="primary">
                    <ion-col size="12">
                        <section>
                            <ion-button expand="block">Broadcast news to all patients</ion-button>
                        </section>
                    </ion-col>

                </ion-row>
            </ion-grid>

        </ion-slide>

        <ion-slide>
            <ion-card>
                <ion-img src="../assets/img/withHeart_Slide1.jpg"></ion-img>
                <!-- <h2>Welcome to the <b>ICA</b></h2> -->
                <p>
                    <b>
                        Getting Patient input early in trial design is so important to getting
                        enrollment and I know you are going to be an awesome advocate for all us
                    </b>

                </p>
            </ion-card>
        </ion-slide>

        <ion-slide>
            <ion-card>
                <ion-img src="../assets/img/withHeart_Slide2.jpg"></ion-img>
                <!-- <h2>What is Ionic?</h2> -->
                <p>
                    <b>
                        I am encouraged that new drugs and new trials are coming out every day, and I refuse
                        to give in! We can do this!
                    </b>

                </p>
            </ion-card>
        </ion-slide>

        <!-- <ion-slide>
                <ion-card>
                <ion-img src="../assets/img/withHeart_Slide3.jpg" ></ion-img>
                
                <p><b>
                    Consider clinical trials whenever treatment is going to begin or change.
                    Trials are not a last-ditch effort. They offer a chance to try the treatment
                    of the future today
                </b>
                   
                </p>
            </ion-card>
            </ion-slide> -->

        <ion-slide>
            <ion-card>
                <ion-img src="../assets/img/withHeart_Slide4.jpg"></ion-img>
                <!-- <h2>Ready to Play?</h2> -->
                <p>

                    Never give up what works for one may not for another. <br />There is always another drug
                    or trial to try or something on the horizon

                </p>
            </ion-card>
        </ion-slide>

    </ion-slides>
</ion-content>