
<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title slot="start">Trialmate</ion-title>
      <ion-icon name="log-out" slot="end"></ion-icon> 
      <ion-label slot="end" style="padding:10px;" (click)="logOut($event)" >LogOut</ion-label>   
    </ion-toolbar>
  </ion-header>
   
  <ion-content padding>
     <h3>  Manage Visits</h3>
   
     <ion-item>
        <ion-label>Month:</ion-label>
        <ion-select placeholder="Select Month--" (ionChange)="onMonthChange($event)">
        <ion-select-option *ngFor="let month of monthNames" [selected]="selected_month == month" value={{month}}>{{ month }}</ion-select-option> 
        
        </ion-select>
        </ion-item> 

    
     <ion-grid>
      <ion-row >
        <ion-col *ngFor="let e of filteredVisits" size-xs="12" size-sm="6"
         size-md="4" size-lg="3" size-xl="2">
            <ion-card [color]="envision(e)" [id]="e.dayNumber + e.monthName + e.dayName">
              <ion-card-header>
                <ion-card-subtitle>
                
                    {{e.dayNumber}}  {{e.monthName}} ,  {{e.dayName}}
                      
                   
                </ion-card-subtitle>
                <ion-card-title>
                   <ion-text>{{e?.visitDescription}}</ion-text>
                 
                  <!-- {{e.dayNumber}} {{e.monthName}} -->
                </ion-card-title>
                <ion-label *ngIf="e.reminderset">we will inform you at {{e.reminderval}}</ion-label>
              </ion-card-header>
              <ion-item>
                  <ion-icon *ngIf="e.isVisitDay" (click)="details(e)" name="calendar" slot="start">
          
                    </ion-icon>
                    <ion-icon *ngIf="!e.isVisitDay" (click)="presentModal(e)" name="alarm" slot="start">
          
                      </ion-icon>

                     
                   <!-- <ion-button outline-color="black" fill="outline" slot="end" (click)="details(e)"> view</ion-button>
             -->
              </ion-item>
            </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-item *ngIf="!filteredVisits || hasAnyVisitsToDisplay()">
         <h3> No Visits have been scheduled for you </h3>
    </ion-item>
    
  </ion-content>