<div class="loading-screen-wrapper" *ngIf="loading">
    <div class="loading-screen-icon">
      Loading...
    </div>
  </div>



 
    <ion-header>
        <ion-toolbar color="primary">
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title slot="start">Trialmate</ion-title>
          <ion-icon name="log-out" slot="end"></ion-icon> 
<ion-label slot="end" style="padding:10px;" (click)="logOut($event)" >LogOut</ion-label>
        </ion-toolbar>
      </ion-header>
       
      <ion-content padding>
         <h3>  Survey Questionnaire </h3>
         <div>
    
            <app-dynamic-form [questions]="questions"></app-dynamic-form>
          </div>
      </ion-content>

       
